/*
===========================================================================================================================================================
                                                             Start Image Section
===========================================================================================================================================================
*/


section#content{
      position: absolute;
      top : 300px;
      left: 400px;
      color: white;	
}
img#slide{
      width: 100%;
      height: auto;
      border-radius: 0px 0px 30px 30px;
}

button{
      width: 50%;
      height: 50px;
      background: #172035;
      color: white;
      border: none;
      font-size: 2em;
}
button:hover{ background: darkorange;}

h1{   font-size: 4em;}
h3{   font-size: 2em;}
p {   font-size: 2em;}

/*
===========================================================================================================================================================
                                                             End Image Section
===========================================================================================================================================================
*/





/*
===========================================================================================================================================================
                                                              Start Featured Courses Section
===========================================================================================================================================================
*/
#course-01 , #course-02 , #course-03 {border-radius: 20px 20px 0px 0px ;}

div.course ,div.course2 ,div.course3{
     position: absolute;
     top   : 1000px;
     width : 400px;
     height: 530px;
     border:  1px solid black;
     border-radius: 20px;
}
div.course { left : 100px; }
div.course2{ left : 550px; }
div.course3{ left : 1000px;}
h6{  font-size: 1em;}

/*
===========================================================================================================================================================
                                                              End Featured Courses Section
===========================================================================================================================================================
*/





/*
===========================================================================================================================================================
                                                              Start About Section
===========================================================================================================================================================
*/

section#about{
     position: absolute;
     top: 1570px;
     left: 30px;
     width: 95%;
     height: 500px;
     background: #252525;
     color: white;
     border-radius: 20px 100px ;
}

div.students, div.reviews,div.courses,div.content{
     position: absolute;
     top: 220px;
     width: 250px;
     height: 220px;
     background: black;
     text-align: center;
     color: white;
     border-radius: 20px;
}
 
div.students{left: 200px;}
div.reviews {left: 500px}
div.courses {left: 800px}
div.content {left: 1100px;}
h2{font-size:28px; }


/*
===========================================================================================================================================================
                                                              End About Section
===========================================================================================================================================================
*/





/*
===========================================================================================================================================================
                                                              Start Learn Tech Section
===========================================================================================================================================================
*/

section#learntech{
      position: absolute;
      top: 2100px;
}
div.learntechnow,div.learntechblog,div.learntechpodcast{
      position: absolute;
      top: 150px;
      border:  1px solid black;
      border-radius: 20px 20px 20px 20px;
      width: 400px;
      height: 500px;
      
}
div.learntechnow    {left: 70px; background: }
div.learntechblog   {left: 570px;  }
div.learntechpodcast{left: 1070px; }

#tech-01, #tech-02 , #tech-03
{border-radius: 20px 20px 0px 0px;}

h1.h1lt{
      position: absolute; 
      left:525px; 
      width: 500px;
}

/*
===========================================================================================================================================================
                                                              End  Learn Tech Section
===========================================================================================================================================================
*/